auth==0.5.3
Authlib==1.5.1
beautifulsoup4==4.13.3
blinker==1.9.0
boto3==1.37.24
botocore==1.37.24
bs4==0.0.2
cachelib==0.13.0
cachetools==5.5.2
cbor==1.0.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.2
dnspython==2.7.0
dotenv==0.9.9
eventlet==0.39.1
falcon==4.0.2
Flask==3.1.0
flask-cors==5.0.1
Flask-OAuthlib==0.9.6
Flask-SQLAlchemy==3.1.1
flask_requests==0.0.14
google-auth==2.38.0
google-auth-oauthlib==1.2.1
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
MarkupSafe==3.0.2
mongoengine==0.29.1
mysql-connector-python==9.2.0
nltk==3.9.1
oauthlib==2.1.0
packaging==24.2
pampy==0.3.0
pi==0.1.2
pillow==11.1.0
pillow_heif==0.22.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pyheif==0.8.0
pymongo==4.11.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
regex==2024.11.6
requests==2.32.3
requests-oauthlib==1.1.0
rsa==4.9
s3transfer==0.11.4
six==1.17.0
soupsieve==2.6
spacetime==2.1.0
SQLAlchemy==2.0.40
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
waitress==3.0.2
Werkzeug==3.1.3
